<%
require "json"
require_relative "../helperFunctions"
%>

<html>
	<head>
		<title>Wofl</title>
		<script src="/post.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/postview.css">
		<link rel="stylesheet" href="/universal.css">
	</head>
	<body>
		<div class="topPanel">
			<a href="/">
				<img class="woflImage" src="/wofl.png"></img>
			</a>
			<img src="/add.png" alt="Post something!" id="postButton" class="postButton" onclick="displayPostForm()"></img>
		</div>
		<div class="postContainer">
			<a href="/">&lt; Return home</a>
			<% 
			postHash = JSON.parse(File.read("posts/#{params["captures"].first}")) %>
			<div class="postTitleText"><%=htmlEscape postHash["0"]["title"]%>
				<div class="idText">ID: <%= params["captures"].first %></div>
			</div>
			<p class="postBody"><%=p postHash["0"]["body"]%></p>
			<form action="/comment" method="post" autocomplete="off">
				<textarea id="comment" name="comment" class="commentBox"autocomplete="off" placeholder="Place a comment..."></textarea>
				<input type="hidden" name="postNumber" value="<%= params["captures"].first %>"/>
				<button type="submit">Submit</button>
			</form>
			<% if postHash.length > 1 #if there have actually been replies
				(1..postHash.length-1).reverse_each do |postIndex| %>
					<p><%=p "Comment ##{postIndex}: #{postHash[postIndex.to_s]["body"]}"%></p>
				<% end 
			end %>
		</div>
	</body>
</html> 
