<%
require "json"
require_relative "../helperFunctions"
%>

<html>
	<head>
		<title>Wofl</title>
		<script src="/post.js" type="text/javascript"></script>
		<script src="/length.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/postview.css">
		<link rel="stylesheet" href="/universal.css">
	</head>
	<body>
		<div class="topPanel">
			<a href="/">
				<img class="woflImage" src="/wofl.png"></img>
			</a>
			<img src="/add.png" alt="Post something!" id="postButton" class="postButton" onclick="displayPostForm()"></img>
		</div>
		<div class="postContainer">
			<a href="/">&lt; Return home</a>
			<% 
			postHash = JSON.parse(File.read("posts/#{params["captures"].first}")) %>
			<div class="postTitle"><%=htmlEscape postHash["0"]["title"]%>
				<div class="idText">ID: <%= params["captures"].first %> Comments: <%= postHash.max_by { |s| s[0].to_i }[0] %>
					&nbsp;
					<span class="ipColor" style="background: <%= getColorFromIP(postHash["0"]["ip"]) %>">
						<span class="colorText"><%= getShowableColorFromIP(postHash["0"]["ip"]) %></span>
					</span>
				</div>
			</div>
			<p class="postBody"><%=p postHash["0"]["body"]%></p>
			<form action="/comment" method="post" autocomplete="off">
				<textarea id="comment" name="comment" class="commentBox"autocomplete="off" placeholder="Place a comment..." onkeypress="commentLimitHandler()" onkeyup="commentLimitHandler()"></textarea>
				<input type="hidden" name="postNumber" value="<%= params["captures"].first %>"/>
				<button type="submit" id="commentSubmit">Submit</button>
				<span id="commentLength" class="commentLength" style="color: red;">0/1000 (you need at least 5 characters to post)</span>
			</form>
			<table class="commentTable">
				<% if postHash.length > 1 #if there have actually been replies
					(1..postHash.length-1).reverse_each do |postIndex| %>
						<tr>
							<th class="ipColorBox">
								<span class="ipColor" style="background: <%= getColorFromIP(postHash[postIndex.to_s]["ip"]) %>">
									<span class="colorText"><%= getShowableColorFromIP(postHash[postIndex.to_s]["ip"]) %></span>
								</span>
							</th>
							<th class="commentText"><%=p "#{postHash[postIndex.to_s]["body"]}"%></th>
						</tr>
					<% end 
				end %>
			</table>
		</div>
	</body>
</html> 
